.membersearch {
    position: fixed;
    top: rhythm(2.2, 16px);
    @include span-columns(12,12);
    @include at-breakpoint($break-to-medium) {
        @include span-columns(16,16);
    }
    background: $white;
    [data-icon]:before {
        content: attr(data-icon);
        font-family: $BeerTrail;
        @include adjust-font-size-to(22px);
        speak: none;
        font-weight: bold;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        color: rgba($grey-blue, .75);
    }
}
#brewersearch-input {
    width: 100%;
    height: rhythm(1.5,16px);
    padding: 0 0 0 $grid-padding*5;
    @include at-breakpoint($break-to-medium) {
        @include pad(2,0);
    }
    @include adjust-font-size-to(20px);
    @include input-placeholder(rgba($grey-blue, .75));
    background: transparent;
    border-top: transparent;
    border-style: solid;
    border-color: rgba($grey-blue, .5);
    border-width: 0 0 .1em 0;
    @include box-shadow(rgba($grey, 0.25) 0 .25em .25em 0);
    &:focus {
        @include input-placeholder-focus(transparent);
        outline: 0;
        background: rgba($grey-blue, .10);
    }
}
.search-img-font {
    @include span-columns(2, 12);
    text-align: center;
    margin-top: rhythm(-1.7, 16px);
    @include at-breakpoint($break-to-medium) {
        @include span-columns(2, 16);
    }
}