.business-map-top {
    text-align: center;
}
.business-phone-top {
    color: $black;
    text-decoration: none;
    @include icon('before', true, 'phone');
    &:before {
        @include adjust-font-size-to(25px);
    }
}
.business-name-top {
    @include adjust-font-size-to(9px);
    text-align: center;
}