.brewer-location-map-top {
    text-align: left;
    color: $black;
    background: rgba($green-white, .25);
    border-bottom: .1em solid rgba($grey-blue, .5);
}
.member-map-vitals {
    h4 {
        margin: rhythm(.25, 16px) 0;
        line-height: rhythm(1, 16px);
        font-weight: normal;
    }
    p {
        @include adjust-font-size-to(11px);
        padding-left: 0;
    }
}