.member-title {
    font-weight: normal;
}
.button-map {
    @extend %view-button-design;
    @include icon('before', true, 'map');
}
.button-phone {
    @extend %view-button-design;
    @include icon('before', true, 'phone');
}
.button-shopping {
    @extend %view-button-design;
    @include icon('before', true, 'shopping');
}
.button-dining {
    @extend %view-button-design;
    @include icon('before', true, 'dining');
}
.button-weather {
    @extend %view-button-design;
    @include icon('before', true, 'weather');
}
.amazing {
    text-align: justify;
    @include adjust-font-size-to(12px);
    border-top: .1em solid rgba($green-dark, .55);
    border-bottom: .1em solid rgba($green-dark, .55);
}
.amazing-bold {
    font-weight: bold;
    font-style: italic;
    color: rgba($green-dark, .95);
}