.navbar {
    background: $white;
    @include background-image(linear-gradient(rgba($green-light, .06), rgba($green-dark, .12) ));
    border-bottom: .1em solid rgba($grey-blue, .5);
    color: rgba($black, .85);
}
.heading {
    text-align: center;
    @include adjust-font-size-to(18px);
    line-height: rhythm(.5, 16px);
}
.back-button {
    @include icon('before', true, 'back');
    @include adjust-font-size-to(22px);
    -webkit-tap-highlight-color: rgba(darken($green-dark, 20%), .35);
    &:active {
        background-color: rgba(darken($green-dark, 20%), .10);
        border-radius: .25em;
        border: .05em solid rgba($green-dark, .85);
    }
    &:focus {
        outline:  0;
        background-color: rgba(darken($green-dark, 20%), .10);
        border-radius: .25em;
        border: .05em solid rgba($green-dark, .85);
    }
}
.home-button {
    @extend .back-button;
    @include icon('before', true, 'home');
    text-decoration: none;
}