html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Fabrica";
  src: url('/styles/fonts/fabrica-webfont.eot');
  src: url('/styles/fonts/fabrica-webfont.eot?#iefix') format('eot'), url('/styles/fonts/fabrica-webfont.woff') format('woff'), url('/styles/fonts/fabrica-webfont.ttf') format('truetype'), url('/styles/fonts/fabrica-webfont.svg') format('svg');
}

@font-face {
  font-family: "BeerTrail";
  src: url('/styles/fonts/BeerTrail.eot');
  src: url('/styles/fonts/BeerTrail.eot?#iefix') format('eot'), url('/styles/fonts/BeerTrail.woff') format('woff'), url('/styles/fonts/BeerTrail.ttf') format('truetype'), url('/styles/fonts/BeerTrail.svg') format('svg');
}

body {
  font-family: "Fabrica", arial, sans-serif;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.back-button, .home-button {
  font-size: 1.375em;
  line-height: 1.63636em;
  margin-top: 0.45em;
  -webkit-tap-highlight-color: rgba(44, 52, 23, 0.35);
  text-decoration: none;
}
.back-button:active, .home-button:active {
  background-color: rgba(44, 52, 23, 0.1);
  border-radius: .25em;
  border: 0.05em solid rgba(104, 123, 54, 0.85);
}
.back-button:focus, .home-button:focus {
  outline: 0;
  background-color: rgba(44, 52, 23, 0.1);
  border-radius: .25em;
  border: 0.05em solid rgba(104, 123, 54, 0.85);
}

.homelist, .local-list {
  padding-top: 6.75em;
}

.brewer-list-item, .local-list-item {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  padding-left: 8.47458%;
  padding-right: 8.47458%;
  margin-right: 0;
  text-decoration: none;
  background: #fdfcfa;
  color: #545558;
  border-bottom: 0.1em solid rgba(82, 126, 144, 0.5);
  -webkit-tap-highlight-color: rgba(82, 126, 144, 0.33);
}
.brewer-list-item:active, .local-list-item:active {
  background: rgba(82, 126, 144, 0.1);
}

.member-img, .local-list-image {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  margin: 0.75em 0;
}

.member-list-vitals, .member-map-vitals, .local-list-vitals {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  padding-top: 0.3em;
  text-align: left;
}
.member-list-vitals p, .member-map-vitals p, .local-list-vitals p {
  margin: 0;
  padding: 0 0 0 1em;
  font-size: 0.875em;
  line-height: 1.71429em;
}
.member-list-vitals p:first-of-type, .member-map-vitals p:first-of-type, .local-list-vitals p:first-of-type {
  padding-top: 0.525em;
}
.member-list-vitals p:last-of-type, .member-map-vitals p:last-of-type, .local-list-vitals p:last-of-type {
  font-size: 0.75em;
  line-height: 2em;
  color: rgba(84, 85, 88, 0.75);
}

.button-map, .button-phone, .button-shopping, .button-dining, .button-weather {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  padding: 0.75em 0 0.75em 1em;
  margin-right: 0;
  text-align: left;
  font-size: 1.125em;
  line-height: 1.33333em;
  color: #545558;
  text-decoration: none;
  border-radius: .25em;
  -webkit-tap-highlight-color: rgba(82, 126, 144, 0.33);
  border: 0.1em solid rgba(0, 0, 0, 0);
}
.button-map:before, .button-phone:before, .button-shopping:before, .button-dining:before, .button-weather:before {
  padding-left: 8.47458%;
  padding-right: 16.94915%;
}
@media (min-width: 37.5em) {
  .button-map, .button-phone, .button-shopping, .button-dining, .button-weather {
    width: 100%;
    float: left;
    margin-right: 1.26582%;
    margin-right: 0;
  }
  .button-map:before, .button-phone:before, .button-shopping:before, .button-dining:before, .button-weather:before {
    padding-left: 0%;
    padding-right: 31.64557%;
  }
}
.button-map:before, .button-phone:before, .button-shopping:before, .button-dining:before, .button-weather:before {
  color: rgba(104, 123, 54, 0.75);
}
.button-map:active, .button-phone:active, .button-shopping:active, .button-dining:active, .button-weather:active {
  background: rgba(82, 126, 144, 0.1);
  border: 0.1em solid rgba(82, 126, 144, 0.5);
}

.business-list-top, .business-map-top {
  max-width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  color: #545558;
  background: rgba(236, 239, 230, 0.25);
  border-bottom: 0.1em solid rgba(82, 126, 144, 0.5);
}
.business-list-top:after, .business-map-top:after {
  content: "";
  display: table;
  clear: both;
}

.VBA40-sprite, .VBA40-alchemist, .VBA40-backacrebeer, .VBA40-bobcat, .VBA40-coveredbridge, .VBA40-cropbistro, .VBA40-dropin, .VBA40-fiddlehead, .VBA40-foleybrothers, .VBA40-fourteenthstar, .VBA40-gratefulhands, .VBA40-harpoon, .VBA40-hillfarmstead, .VBA40-kingdombrewing, .VBA40-lawsons, .VBA40-longtrail, .VBA40-lostnationbrewing, .VBA40-madison, .VBA40-magichat, .VBA40-mcneills, .VBA40-northshire, .VBA40-norwichinn, .VBA40-ottercreek, .VBA40-perfectpear, .VBA40-rockart, .VBA40-switchback, .VBA40-threeneeds, .VBA40-trappfamily, .VBA40-troutriver, .VBA40-vpb, .VBA40-whetstonestation, .VBA40-yelp, .VBA40-zerogravity {
  background: url('/images/generated/VBA40-s760509856f.png') no-repeat;
}

.VBA40-alchemist {
  background-position: 0 -743px;
  height: 40px;
  width: 40px;
}

.VBA40-backacrebeer {
  background-position: 0 -343px;
  height: 40px;
  width: 50px;
}

.VBA40-bobcat {
  background-position: 0 -783px;
  height: 40px;
  width: 40px;
}

.VBA40-coveredbridge {
  background-position: 0 -903px;
  height: 40px;
  width: 40px;
}

.VBA40-cropbistro {
  background-position: 0 -103px;
  height: 40px;
  width: 65px;
}

.VBA40-dropin {
  background-position: 0 -623px;
  height: 40px;
  width: 42px;
}

.VBA40-fiddlehead {
  background-position: 0 -25px;
  height: 38px;
  width: 40px;
}

.VBA40-foleybrothers {
  background-position: 0 -983px;
  height: 40px;
  width: 40px;
}

.VBA40-fourteenthstar {
  background-position: 0 -303px;
  height: 40px;
  width: 50px;
}

.VBA40-gratefulhands {
  background-position: 0 -943px;
  height: 40px;
  width: 40px;
}

.VBA40-harpoon {
  background-position: 0 -863px;
  height: 40px;
  width: 40px;
}

.VBA40-hillfarmstead {
  background-position: 0 -583px;
  height: 40px;
  width: 43px;
}

.VBA40-kingdombrewing {
  background-position: 0 -663px;
  height: 40px;
  width: 42px;
}

.VBA40-lawsons {
  background-position: 0 -63px;
  height: 40px;
  width: 66px;
}

.VBA40-longtrail {
  background-position: 0 -143px;
  height: 40px;
  width: 59px;
}

.VBA40-lostnationbrewing {
  background-position: 0 -1183px;
  height: 46px;
  width: 40px;
}

.VBA40-madison {
  background-position: 0 -703px;
  height: 40px;
  width: 40px;
}

.VBA40-magichat {
  background-position: 0 -223px;
  height: 40px;
  width: 54px;
}

.VBA40-mcneills {
  background-position: 0 -1229px;
  height: 53px;
  width: 40px;
}

.VBA40-northshire {
  background-position: 0 -383px;
  height: 40px;
  width: 48px;
}

.VBA40-norwichinn {
  background-position: 0 -423px;
  height: 40px;
  width: 45px;
}

.VBA40-ottercreek {
  background-position: 0 -1063px;
  height: 40px;
  width: 39px;
}

.VBA40-perfectpear {
  background-position: 0 -183px;
  height: 40px;
  width: 56px;
}

.VBA40-rockart {
  background-position: 0 -1143px;
  height: 40px;
  width: 34px;
}

.VBA40-switchback {
  background-position: 0 -503px;
  height: 40px;
  width: 45px;
}

.VBA40-threeneeds {
  background-position: 0 -1023px;
  height: 40px;
  width: 40px;
}

.VBA40-trappfamily {
  background-position: 0 -463px;
  height: 40px;
  width: 45px;
}

.VBA40-troutriver {
  background-position: 0 -1103px;
  height: 40px;
  width: 35px;
}

.VBA40-vpb {
  background-position: 0 -263px;
  height: 40px;
  width: 50px;
}

.VBA40-whetstonestation {
  background-position: 0 -823px;
  height: 40px;
  width: 40px;
}

.VBA40-yelp {
  background-position: 0 0;
  height: 25px;
  width: 49px;
}

.VBA40-zerogravity {
  background-position: 0 -543px;
  height: 40px;
  width: 43px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
@media (min-width: 37.5em) {
  .navbar {
    padding-left: 6.32911%;
    padding-right: 6.32911%;
  }
}

.container {
  background: #fdfcfa;
}

.navbar {
  background: #fdfcfa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(177, 189, 153, 0.06)), color-stop(100%, rgba(104, 123, 54, 0.12)));
  background-image: -webkit-linear-gradient(rgba(177, 189, 153, 0.06), rgba(104, 123, 54, 0.12));
  background-image: -moz-linear-gradient(rgba(177, 189, 153, 0.06), rgba(104, 123, 54, 0.12));
  background-image: -o-linear-gradient(rgba(177, 189, 153, 0.06), rgba(104, 123, 54, 0.12));
  background-image: linear-gradient(rgba(177, 189, 153, 0.06), rgba(104, 123, 54, 0.12));
  border-bottom: 0.1em solid rgba(82, 126, 144, 0.5);
  color: rgba(84, 85, 88, 0.85);
}

.heading {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  margin: 0.75em 0;
  padding-top: 0.3em;
  font-size: 1.125em;
  line-height: 1.33333em;
  text-align: center;
}
@media (min-width: 37.5em) {
  .heading {
    width: 87.34177%;
    float: left;
    margin-right: 1.26582%;
  }
}

.back-button {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  margin-right: 0px;
  margin-left: 0.25em;
}
@media (min-width: 37.5em) {
  .back-button {
    width: 5.06329%;
    float: left;
    margin-right: 1.26582%;
  }
}
.back-button:before {
  content: "\e003";
  color: rgba(104, 123, 54, 0.75);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BeerTrail", arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.675em 0.5em 0 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}

.home-button {
  width: 15.25424%;
  float: right;
  margin-right: 0;
  margin-right: 0.25em;
}
@media (min-width: 37.5em) {
  .home-button {
    width: 5.06329%;
    float: right;
    margin-right: 0;
  }
}
.home-button:before {
  content: "\e000";
  color: rgba(104, 123, 54, 0.75);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BeerTrail", arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.675em 0.5em 0 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}

.membersearch {
  position: fixed;
  top: 3.3em;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  background: #fdfcfa;
}
@media (min-width: 37.5em) {
  .membersearch {
    width: 100%;
    float: left;
    margin-right: 1.26582%;
  }
}
.membersearch [data-icon]:before {
  content: attr(data-icon);
  font-family: "BeerTrail", arial, sans-serif;
  font-size: 1.375em;
  line-height: 1.63636em;
  speak: none;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: rgba(82, 126, 144, 0.75);
}

#brewersearch-input {
  width: 100%;
  height: 2.25em;
  padding: 0 0 0 5em;
  font-size: 1.25em;
  line-height: 1.2em;
  background: transparent;
  border-top: transparent;
  border-style: solid;
  border-color: rgba(82, 126, 144, 0.5);
  border-width: 0 0 .1em 0;
  -webkit-box-shadow: rgba(147, 149, 152, 0.25) 0 0.25em 0.25em 0;
  -moz-box-shadow: rgba(147, 149, 152, 0.25) 0 0.25em 0.25em 0;
  box-shadow: rgba(147, 149, 152, 0.25) 0 0.25em 0.25em 0;
}
@media (min-width: 37.5em) {
  #brewersearch-input {
    padding-left: 12.65823%;
    padding-right: 0%;
  }
}
#brewersearch-input.placeholder {
  color: rgba(82, 126, 144, 0.75);
}
#brewersearch-input::-moz-placeholder {
  opacity: 1;
  color: rgba(82, 126, 144, 0.75);
}
#brewersearch-input::-webkit-input-placeholder {
  color: rgba(82, 126, 144, 0.75);
}
#brewersearch-input:focus {
  outline: 0;
  background: rgba(82, 126, 144, 0.1);
}
#brewersearch-input:focus.placeholder {
  color: transparent;
}
#brewersearch-input:focus::-moz-placeholder {
  opacity: 0;
  color: transparent;
}
#brewersearch-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-img-font {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
  margin-top: -2.55em;
}
@media (min-width: 37.5em) {
  .search-img-font {
    width: 11.39241%;
    float: left;
    margin-right: 1.26582%;
  }
}

.memberview {
  padding-left: 8.47458%;
  padding-right: 8.47458%;
  padding-top: 6em;
}
@media (min-width: 37.5em) {
  .memberview {
    padding-top: 6em;
  }
}

.member-title {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  margin-bottom: 1.5em 0;
  font-weight: normal;
}
@media (min-width: 37.5em) {
  .member-title {
    width: 62.02532%;
    float: right;
    margin-right: 0;
  }
}

.brewer-img {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 1.5em 0;
}
@media (min-width: 37.5em) {
  .brewer-img {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
  }
}

@media (min-width: 37.5em) {
  .button-map {
    padding-top: 3em;
  }
}
.button-map:before {
  content: "\e002";
  color: rgba(104, 123, 54, 0.75);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BeerTrail", arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.675em 0.5em 0 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}

.button-phone:before {
  content: "\e001";
  color: rgba(104, 123, 54, 0.75);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BeerTrail", arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.675em 0.5em 0 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}

.button-shopping:before {
  content: "\e008";
  color: rgba(104, 123, 54, 0.75);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BeerTrail", arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.675em 0.5em 0 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}

.button-dining:before {
  content: "\e009";
  color: rgba(104, 123, 54, 0.75);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BeerTrail", arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.675em 0.5em 0 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}

.button-weather:before {
  content: "\e005";
  color: rgba(104, 123, 54, 0.75);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BeerTrail", arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.675em 0.5em 0 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}

.amazing {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: -8.47458%;
  padding-left: 8.47458%;
  margin-right: -8.47458%;
  padding-right: 8.47458%;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  margin-top: 3em;
  text-align: justify;
  font-size: 0.75em;
  line-height: 2em;
  border-top: 0.1em solid rgba(104, 123, 54, 0.55);
  border-bottom: 0.1em solid rgba(104, 123, 54, 0.55);
}
@media (min-width: 37.5em) {
  .amazing {
    width: 100%;
    float: left;
    margin-right: 1.26582%;
    margin: 1.5em 0 0 0;
  }
}

.amazing-bold {
  font-weight: bold;
  font-style: italic;
  color: rgba(104, 123, 54, 0.95);
}

.brewer-location-map {
  margin-top: 3.15em;
}

.brewer-location-map-top {
  line-height: 3em;
  max-width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #545558;
  background: rgba(236, 239, 230, 0.25);
  border-bottom: 0.1em solid rgba(82, 126, 144, 0.5);
}
.brewer-location-map-top:after {
  content: "";
  display: table;
  clear: both;
}

.googlemap {
  display: block;
  min-height: 33em;
  width: 100%;
}
@media (min-width: 37.5em) {
  .googlemap {
    min-height: 67.5em;
  }
}

.member-map-vitals {
  margin-top: 0.375em;
}
.member-map-vitals h4 {
  margin: 0.375em 0;
  line-height: 1.5em;
  font-weight: normal;
}
.member-map-vitals p {
  font-size: 0.6875em;
  line-height: 2.18182em;
  padding-left: 0;
}
.member-map-vitals p:first-of-type {
  padding: 0 0 0.375em 0;
}

.yelp-courtesy {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  margin-top: 6em;
  margin-bottom: 0.375em;
  font-size: 0.625em;
  line-height: 2.4em;
  color: #545558;
}

.yelp-id {
  font-size: 0.625em;
  line-height: 2.4em;
  color: #545558;
}

.VBA40-yelp {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  margin-top: 3.525em;
  opacity: .5;
}

.local-list {
  padding-top: 1.5em;
}

.local-list-item {
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}

.local-list-image {
  height: 65px;
  width: 65px;
  margin-top: 0px;
}

.local-list-vitals {
  padding-top: 0px;
}
.local-list-vitals p:first-of-type {
  margin-top: 0px;
  padding-top: 0px;
}

.rating i {
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #eee;
  border-radius: .22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.46em;
  text-shadow: 1px 0 1px #b3b3b3;
}

[data-rating^='1'] .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

[data-rating='1.5'] .star-2 {
  border-left-color: #cc8b1f;
}

[data-rating^='2'] .star-1, [data-rating^='2'] .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rating='2.5'] .star-3 {
  border-left-color: #dcb228;
}

[data-rating^='3'] .star-1, [data-rating^='3'] .star-2, [data-rating^='3'] .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating='3.5'] .star-4 {
  border-left-color: #f0991e;
}

[data-rating^='4'] .star-1, [data-rating^='4'] .star-2, [data-rating^='4'] .star-3, [data-rating^='4'] .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating='4.5'] .star-5 {
  border-left-color: #f26a2c;
}

[data-rating='5'] i {
  border-color: #dd050b;
  background: #dd050b;
}

.business-map-top {
  text-align: center;
}

.business-phone-top {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  margin: 4.05em 0 0 0;
  color: #545558;
  text-decoration: none;
}
.business-phone-top:before {
  padding-right: 0.5em;
  font-size: 1.5625em;
  line-height: 1.44em;
}
.business-phone-top:before {
  content: "\e001";
  color: rgba(104, 123, 54, 0.75);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BeerTrail", arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.675em 0.5em 0 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}

.business-name-top {
  font-size: 0.75em;
  line-height: 2em;
}

.weather-attribution {
  margin-top: 3.3em;
  padding: 0.375em 0;
  background: rgba(236, 239, 230, 0.25);
  border-bottom: 0.1em solid rgba(82, 126, 144, 0.5);
  text-align: center;
}
.weather-attribution a {
  text-decoration: none;
  color: rgba(84, 85, 88, 0.65);
  font-size: 0.8125em;
  line-height: 1.84615em;
}

.current-weather {
  padding-left: 8.47458%;
  padding-right: 8.47458%;
  padding-top: 0.375em;
  text-align: center;
}
.current-weather h3 {
  color: rgba(82, 126, 144, 0.75);
  font-size: 0.875em;
  line-height: 1.71429em;
  font-weight: normal;
  border-bottom: 0.1em solid rgba(82, 126, 144, 0.3);
}
.current-weather h3:not(:first-of-type) {
  margin-top: 3em;
}

.weather-description {
  text-align: center;
  color: #545558;
  font-size: 0.875em;
  line-height: 1.71429em;
}

.temperature {
  font-size: 1.1875em;
  line-height: 1.26316em;
}

.container.ng-enter {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: absolute;
  width: 100%;
}

.container.ng-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.container.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
}

.container.ng-leave {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  opacity: .6;
}

.container.ng-leave {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: absolute;
  width: 100%;
}

.container.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}
