.business-list-top {
    @include container;
}
.yelp-courtesy {
    @include span-columns(8,12);
    margin-top: rhythm(4, 16px);
    margin-bottom: rhythm(.25, 16px);
}
.VBA40-yelp {
    @include span-columns(4 omega,12);
    margin-top: rhythm(2.35, 16px);
}
.shopping-list {
    @extend %list-layout;
    padding-top: rhythm(1,16px);
}
.shopping-list-item {
    @extend %list-item-layout;
    padding-bottom: rhythm(.5, 16px);
    padding-top: rhythm(.5, 16px);
}
.shopping-list-image {
    @extend %list-image-layout;
    height: 65px;
    width: 65px;
    margin-top: 0;
}
.shopping-list-vitals {
    @extend %list-vitals-layout;
    p:first-of-type {
        margin-top: 0;
    }
}