.brewer-location-map {
    margin-top: rhythm(2.1, 16px);
}
.brewer-location-map-top {
    line-height: rhythm(2, 16px);
    @include container;
}
.googlemap {
    display: block;
    min-height: rhythm(22, 16px);
    width: 100%;
    @include at-breakpoint($break-to-medium) {
        min-height: rhythm(45, 16px);
    }
}
.member-map-vitals {
    @extend %list-vitals-layout;
    margin-top: rhythm(.25, 16px);
}
