.weather-attribution {
    // @include container;
    // @include pad(1,1);
    margin-top: rhythm(2.2, 16px);
    padding: rhythm(.25, 16px) 0;
}
.current-weather {
    @include pad(1,1);
    padding-top: rhythm(.25, 16px);
    h3 {
        &:not(:first-of-type) {
            margin-top: rhythm(2, 16px);
        }
    }
}